
@{
    ViewBag.Title = "Usage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usage</h2>

<div class="container">
    <div class="text-center">
        <h2>This is the usage page</h2>
    </div>
</div>

